<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
  	<link rel="preconnect" href="https://fonts.bunny.net">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://fonts.bunny.net/css?family=figtree:400,500,600&display=swap" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{../css/index.css}">
	
</head>
<body>
    <div class="container font-sans text-gray-900 antialiased">
        <form  method="post"role="form"th:action="@{/reset-password}"onsubmit="return validatePassword()">
            <div class="container-fluid login-1">
                <div class="container">
                    <div class="login-form">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="img-box">
                                    <img th:src="@{/images/new-password.png}" class="img img-fluid" title="login"
                                        alt="welcome image">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="login-box">
                                    <div class="row">
                                        <h4 class="login-title">Reset Password</h4>
                                    </div>
                                    
                                    <div class="form-group">
                                        <input id="password" class="form-control block mt-1 w-full" style="border-radius: 1rem;"
                                        	placeholder="Entrez votre mot de passe" type="password" name="password" required />
                                    </div>
                                    <div class="form-group">
                                        <input id="confirmPassword" class="form-control block mt-1 w-full" style="border-radius: 1rem;"
                                        	placeholder="Confirmez votre mot de passe" type="password" name="password" required />
                                    </div>
                                    <button class="btn btn-primary w-100">
                                        Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script>
  
     function validatePassword () {
    	 
    	 var password = document.getElementById("password").value;
    	 var confirmPassword = document.getElementById("confirmPassword").value;
    	 
    	 if (password !== confirmPassword){
    		 alert("Password do not match");
    		 return false;
    	 }
    	 
    	 return true;
     }
     /*-----------------------------------------------------------*/
  </script>
</body>

</html>