<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="Admin/head :: head"/>
<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div th:replace="Admin/NavHeader :: NavHeader"></div>
        <!--**********************************
            Nav header end
        ***********************************-->
		
		
		<!--**********************************
            Header start
        ***********************************-->
		   <div th:replace="Admin/header :: header"></div>
		<!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************Sidebar start***********************************-->
                <div th:replace="Admin/sidebar :: sidebar"></div>
		<!--**********************************Sidebar end*************************************-->
		<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body" th:fragment="content">
			<div class="container-fluid">
				<!-- Add Project -->
				
                <div class="row page-titles mx-0">
                    <div class="col-sm-6 p-md-0">
                        <div class="welcome-text">
                            <h4>Hi, welcome back!</h4>
                            <p class="mb-0">Your business dashboard template</p>
                        </div>
                    </div>
                    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/admin-dashboard}">App</a></li>
                            <li class="breadcrumb-item active"><a th:href="@{/profile}">Profile</a></li>
                        </ol>
                    </div>
                </div>
                <!-- row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="profile card card-body px-3 pt-3 pb-0">
                            <div class="profile-head">
                                <div class="photo-content">
                                    <div class="cover-photo">
										
									</div>
                                </div>
                                <div class="profile-info">
								
									<div class="profile-details">
										<div class="profile-name px-3 pt-2">
											<h4 class="text-primary mb-0 text-capitalize">[[${user.nom}]] [[${user.prenom}]]</h4>
											<p>DARET / APP ====> [[${user.role}]]</p>
										</div>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                   <!-- Add this section to display error messages -->
<div th:if="${error}" class="alert alert-danger solid alert-dismissible fade show">
    <strong>Error: </strong><span th:text="${error}"></span>.
    <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
        <span><i class="mdi mdi-close"></i></span>
    </button>
</div>

<!-- Add this section to display success messages -->
<div th:if="${success}" class="alert alert-success solid alert-dismissible fade show">
    <strong>Success: </strong><span th:text="${success}"></span>.
    <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
        <span><i class="mdi mdi-close"></i></span>
    </button>
</div>

                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="profile-tab">
                                    <div class="custom-tab-1">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item active"><a href="#profile-informations" data-toggle="tab" class="nav-link">Profile Information</a></li>
                                            <li class="nav-item"><a href="#password-informations" data-toggle="tab" class="nav-link">Update Password</a></li>
                                            <li class="nav-item"><a href="#delete-account" data-toggle="tab" class="nav-link">Delete Account</a></li>
                                        </ul>
                                        <div class="tab-content">
                                           
                                            <div id="profile-informations" class="tab-pane fade">
                                                <div class="pt-3">
                                                    <div class="settings-form">
                                                        <form th:action="@{/update-info}" method="post" th:object="${user}">
                                                            <div class="form-row" th:if="${user}">
																<input type="hidden" th:field="*{id}" />
                                                                <div class="form-group col-md-6">
                                                                    <label for="nom">Last Name : </label>
                                                                    <input id="nom" type="text" th:field="*{nom}"th:value="${user.nom}" placeholder="Entrez votre nom" class="form-control">
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="prenom">First Name : </label>
                                                                    <input id="prenom" type="text" th:field="*{prenom}"th:value="${user.prenom}" placeholder="Entrez votre prenom" class="form-control">
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="CIN">CIN : </label>
                                                                    <input id="CIN" type="text" th:field="*{cin}"th:value="${user.cin}" placeholder="Entrez votre cin" class="form-control">
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="email">Email : </label>
                                                                    <input id="email" type="email" th:field="*{email}"th:value="${user.email}" placeholder="Entrez votre email" class="form-control">
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                    <label for="Role">Role : </label>
                                                                     <select class="form-control w-100" name="role" id="Role" th:field="*{role}">
							                                            <option value="ADMIN">ADMIN</option>
							                                            <option value="USER">USER</option>
							                                        </select>
                                                                </div>
                                                                <div class="form-group col-md-6">
                                                                   <label for="gender" class="text-bold">Gender : </label>
														            <select class="form-control w-100" id="gender" name="gender" th:field="*{gender}">
														                <option value="MEN">MEN</option>
														                <option value="WOMEN">WOMEN</option>
														            </select>
                                                                </div>
                                                            </div>
                                                            <button class="btn btn-primary w-100" type="submit">Save</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--**********************************************************************************************************************************************************-->
                                        	<div id="password-informations" class="tab-pane fade">
											    <div class="pt-3">
											        <div class="settings-form">
											            <h4 class="text-dark mb-4">Ensure your account is using a long, random password to stay secure.</h4>
											            <form th:action="@{/update-password}" method="post">
											                <div class="form-row" th:if="${user}">
											                    <div class="form-group col-md-12">
											                        <label for="currentPassword">Current Password : </label>
											                        <input id="currentPassword" type="password" name="currentPassword" placeholder="Enter your current password" class="form-control">
											                    </div>
											                    <div class="form-group col-md-12">
											                        <label for="newPassword">New Password : </label>
											                        <input id="newPassword" type="password" name="newPassword" placeholder="Enter your new password" class="form-control">
											                    </div>
											                    <div class="form-group col-md-6">
											                        <label for="confirmPassword">Confirm Password : </label>
											                        <input id="confirmPassword" type="password" name="confirmPassword" placeholder="Confirm your password" class="form-control">
											                    </div>
											                </div>
											                <button class="btn btn-primary w-100" type="submit">Save</button>
											            </form>
											        </div>
											    </div>
											</div>
										<!--**********************************************************************************************************************************************************-->
											<div id="delete-account" class="tab-pane fade">
											    <div class="pt-3">
											        <div class="settings-form">
											            <h4 class="text-dark mb-4">Once your account is deleted, all of its resources and data will be permanently deleted. Please enter your password to confirm you would like to permanently delete your account.</h4>
											            <form th:action="@{/delete-account}" method="post" id="deleteAccountForm" th:object="${user}">
															<input type="hidden" th:field="*{email}" th:value="${user.email}" />
											                <button class="btn btn-danger w-25" type="button" data-toggle="modal" data-target="#deleteAccountModal">DELETE ACCOUNT</button>
											                <div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog" aria-hidden="true">
											                    <div class="modal-dialog modal-lg">
											                        <div class="modal-content">
											                            <div class="modal-header">
											                                <h5 class="modal-title">Are you sure you want to delete your account?</h5>
											                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
											                            </div>
											                            <div class="modal-body">
											                                <h6 class="modal-title mb-5">Once your account is deleted, all of its resources and data will be permanently deleted. Please enter your password to confirm you would like to permanently delete your account.
											                                Password.</h6>
											                                <div class="form-group row">
											                                    <label for="deletePassword">Password:</label>
											                                    <input type="password" class="form-control col-md-12" id="deletePassword" name="password" required placeholder="Enter your password">
											                                </div>
											                            </div>
											                            <div class="modal-footer">
											                                <button type="button" class="btn btn-danger light" data-dismiss="modal">CANCEL</button>
											                                <button type="button" class="btn btn-primary" onclick="submitDeleteAccountForm()">DELETE ACCOUNT</button>
											                            </div>
											                        </div>
											                    </div>
											                </div>
											            </form>
											        </div>
											    </div>
											</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		
    </div>

    <!-- Required vendors -->
    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="vendor/global/global.min.js"></script>
	<script src="vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<script src="vendor/chart.js/Chart.bundle.min.js"></script>
	
	<!-- Chart piety plugin files -->
    <script src="vendor/peity/jquery.peity.min.js"></script>
	
	<!-- Apex Chart -->
	<script src="vendor/apexchart/apexchart.js"></script>
	
	<!-- Dashboard 1 -->
	<script src="js/dashboard/dashboard-1.js"></script>
	
	<script src="vendor/owl-carousel/owl.carousel.js"></script>
    <script src="js/custom.min.js"></script>
	<script src="js/deznav-init.js"></script>
    <script src="js/demo.js"></script>
    <script src="js/styleSwitcher.js"></script>
       <script>
    // Get the current date
    var currentDate = new Date();

    // Set the day, month, and year buttons
    document.getElementById('dayButton').textContent = `${currentDate.toLocaleDateString('en-US', { weekday: 'long' })} ${currentDate.getDate()}`;
    document.getElementById('monthButton').textContent = currentDate.toLocaleString('default', { month: 'short' });
    document.getElementById('yearButton').textContent = currentDate.getFullYear();
</script>

</body>
</html>
     
